*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
body{
    background: blanchedalmond;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
li {
    list-style: none;
}
img {
    max-width: 100%;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}
.container-sm{
    /* background: blue; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
}
/* nav */
.navbar {
    background: black;
    color: #fff;
    padding:1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}
.navbar img {
    width: 100px;
    height: 100px;
    
}
.navbar-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar .main-menu-list {
    display: flex;
   align-items: center;
    gap:  2rem;
    font-weight: 600;
}
.navbar a {
    color: #fff;
}
.navbar a:hover {
    color: gray;
}
.navbar i {
    font-size: 1.5rem;
}


/* Media Queries */
@media (max-width: 1200px) {
    
}
@media (max-width: 992px) {
    
}
@media (max-width: 768px) {
    
}
@media (max-width: 576px) {
    
}