*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Root */
:root {
    ---Yellow-Canary: #FFF44F;
    ---Blue: #A7C7E7;
    ---Pink: #F4C2C2;
    ---Green: #A8E6CF;
    ---Black: #0D0D0D;
    ----white: #F8F9FA;
    ---hex: #F4F1E9;
    ---hex-color: #FFFFFF;
}

html,
body {
    /* background: url(../img/ChatGPT\ Image\ Oct\ 18\,\ 2025\,\ 03_45_54\ PM.png); */
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2rem;
}

.container-sm {
    /* background: blue; */
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 2rem;
    /* position: f; */
}

/* nav */
.navbar {
    background: black;
    color: #fff;
    padding: 1rem 2rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}

.navbar img {
    width: 81px;
    height: 32px;
}

.navbar-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .main-menu-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-weight: 600;
}

.navbar a {
    color: #fff;
}

.navbar a:hover {
    color: gray;

}

.navbar i {
    font-size: 1.7rem;
}

/* mobile menu */
.navbar .mobile-menu {
    display: none;
}

.navbar .mobile-menu-toggle {
    color: #fff;
    cursor: pointer;
}

.navbar .mobile-menu-items {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    opacity: 0.95;
    padding: 3rem 2rem;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    transform: translateX(100%);
    transition: transform 0.3s ease;
}

.navbar .mobile-menu-items.active {
    transform: translateX(0);
}

.navbar .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    font-size: 1.2rem;
}

/* Hero */
.hero {
    background: #000 url(../img/ChatGPT\ Image\ Oct\ 18\,\ 2025\,\ 03_45_54\ PM.png)center center/cover no-repeat;
    padding: 11.5rem 2rem 8rem;
    overflow-x: hidden;
    position: relative;
    color: #fff;
}

.hero .hero-flex {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-bottom: 8rem;

}

.hero .hero-content {
    display: flex;
    flex-direction: column;
}

.hero .hero-content a {
    background: rgb(55, 55, 187);
    color: var(----white);
    padding: 1rem 5rem;
    border-radius: 5rem;
    text-align: center;
    font-size: 1.5rem;
}

.hero .hero-content a:hover {
    color: var(---Black);
    background: var(---Blue);
    opacity: 0.7;
}

.span {
    color: blue;
}

/* .hero h3 {
    font-size: 1.5rem;
} */

.hero .hero-content {
    font-size: 1.5rem;
}

.hero .home-info {
    position: absolute;
    font-size: 2.5rem;
    margin-left: -100px;
}

.home-info {
    z-index: 2;
    bottom: -1rem;
    justify-self: center;
}

.home-split {
    font-size: 1.2rem;
    font-weight: 600;
    color: blue;
}

.home-profession-1,
.home-profession-2 {
    font-size: 2rem;
    text-align: center;
    overflow: hidden;
}

.home-profession-1 {
    position: relative;
    color: blue;
}

.home-profession-1::after {
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg,
            hsl(0, 0%, 0%)10%,
            hsla(0, 0%, 0%, 0%)60%);
    position: absolute;
    top: 0;
    left: 0;
}

.home-profession-2 {
    transform: translateY(-1rem);
}

/* Media Queries */
@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .main-menu-items {
        display: none;
    }

    .navbar .mobile-menu {
        display: block;
    }

    .navbar .mobile-menu-toggle {
        display: block;
        padding: 10px;
    }

    .hero .hero-flex {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    .hero .hero-content {}


}

@media (max-width: 576px) {}